<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- estilo -->
    <link rel="stylesheet" href="css/style.css">
    <!-- fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100&display=swap"
        rel="stylesheet">
    <!-- iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Home</title>
</head>

<body>

    <section id="nav">
        <nav>


            <div id="log">
                <img src="img/Logo.png" width="100" alt="logo">
                

                <h1>Shenlong Comics</h1>
            </div>

            <div>
                <input type="text"> <i class="fa-solid fa-magnifying-glass"></i>
            </div>

            <div class="">
                <ul type="none">
                    <li><a href="/register">Registrarse</a></li>
                    <li><a href="/login">Iniciar sesion</a></li>
                    <li><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
        </nav>
    </section>
    <section id="body">
        
           
                <div class="carousel-container">
                <div id="carou" class="carousel-wrapper">
                        <div class="carousel-item">
                        <img src="/img/imgProducto/BANNER3.jpg" alt="Imagen 1">
                    </div>
                    <div class="carousel-item">
                        <img class="item" src="/img/imgProducto/buy-banner-1024x446.jpg" alt="Imagen 2">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/imgProducto/dbzk_banner_final.jpg" alt="Imagen 3">
                    </div>
                </div>                    <img class="item" src="/img/imgProducto/img.jpg" alt="">
                    <img class="item" src="/img/imgProducto/carrucel-3.jpg" alt="">
                    <img class="item" src="/img/imgProducto/carrucel-4.jpg" alt="">
                    <img class="item" src="/img/imgProducto/carrucel-5.jpg" alt="">
                    
                   
            </div>
       
        <main class="container">
           
            <section>

                <h2>Recomendados</h2>
                <section id="recomendados">

                    <a href="/productDetail">
                        <div class="prod">
                            <img class="img-producto" src="/img/imgProducto/mangaDBS.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <h3>DRAGON BALL SUPER 01 </h3>

                            <div class="info-prod">
                                <p class="txtPrec">AKIRA TORIYAMA</p>
                                <p class="precio-txt">$1234</p>

                            </div>
                        </div>
                    </a>



                    <a href="/productDetail">
                        <div class="prod">
                            <img class="img-producto" src="/img/imgProducto/batman.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <h3>
                                BATMAN HISTORIAS DEL DEMONIO
                            </h3>

                            <div class="info">
                                <p class="">
                                    DENNY O´NEIL
                                </p>
                                <p class="precio-txt">$7.000</p>

                            </div>
                        </div>
                    </a>

                    <a href="/productDetail">
                        <div class="prod">
                            <img class="img-producto" src="/img/imgProducto/batman-abismo.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <h3>BATMAN: ABISMO </h3>

                            <div class="info-prod">
                                <p class="txtPrec">KARL KERSCHL</p>
                                <p class="precio-txt">$7.500</p>

                            </div>
                        </div>
                    </a>


                    <a href="/productDetail">
                        <div class="prod">
                            <img class="img-producto" src="/img/imgProducto/thanos-elabismoinfinito.jpg" alt="img producto">
                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <h3>
                                THANOS EL ABISMO INFINITO (HC)
                            </h3>
                            <div class="info">
                                <p class=""> JIM STARLIN AL MILGROM</p>
                                <p class="precio-txt">$15.000</p>

                            </div>
                        </div>
                    </a>
                </section>

                <section>
                    <h2>Novedades</h2>
                    <div id="novedades">

                        <a href="/productDetail">
                            <div class="prod">
                                <img class="img-producto" src="/img/imgProducto/ss-static-01.esmsv.jpg" alt="img producto">

                                <p>
                                    <i id="imgEnvio" class="fa-solid fa-truck"></i>
                                </p>
                                <h3>Blue Period 13</h3>
                                <div class="info">
                                    <p class="">Panini manga </p>
                                    <p class="precio-txt">$8909</p>

                                </div>
                            </div>
                        </a>

                        <a href="/productDetail">
                            <div class="prod">
                                <img class="img-producto" src="/img/imgProducto/BATMAN-EL-LARGO-HALLOWEEN.jpg" alt="img producto">

                                <p>
                                    <i id="imgEnvio" class="fa-solid fa-truck"></i>
                                </p>
                                <h3>BATMAN: EL LARGO HALLOWEEN</h3>

                                <div class="info">
                                    <p class="">Ovni Press</p>
                                    <p class="precio-txt">$15.000</p>

                                </div>
                            </div>
                        </a>
                        <a href="/productDetail">
                            <div class="prod">
                                <img class="img-producto" src="/img/imgProducto/BATMAN-KNIGHTFALL-VOL-3-LA-CRUZADA-DEL-CABALLEROI.jpg" alt="img producto">

                                <p>
                                    <i id="imgEnvio" class="fa-solid fa-truck"></i>
                                </p>
                                <h3>BATMAN KNIGHTFALL VOL.3: LA CRUZADA DEL CABALLERO I</h3>

                                <div class="info">
                                    <p class="">Ovni Press</p>
                                    <p class="precio-txt">$15.000</p>

                                </div>
                            </div>
                        </a>
                        <a href="/productDetail">
                            <div class="prod">
                                <img class="img-producto" src="/img/imgProducto/powerRangervsTortugasNinjas.jpg" alt="img producto">

                                <p>
                                    <i id="imgEnvio" class="fa-solid fa-truck"></i>
                                </p>
                                <h3>POWER RANGERS VS LAS TORTUGAS NINJA</h3>

                                <div class="info">
                                    <p class="">
                                        Ryan Parrot
                                        </p>
                                    <p class="precio-txt">$9.000</p>

                                </div>
                            </div>
                        </a>
                        


                    </div>
                </section>

        </main>

        </h1>
        </div>
    </section>
    <section id="footer">
        <footer>

            <div>
                <ul class="li-contacto">
                    <p>contactanos</p>
                    <li> <a href="">3854123123</a></li>
                    <li><a href="">shenlong-comics@gmail.com</a></li>
                    <li><a href="">@shenlong-comics<i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="">@shenlong-comics<i class="fa-brands fa-facebook"></i></a></li>
                </ul>
                <ul type="none">
                    <li>
                        <div class="pie">
                            Copyright Shenlong Comics - 2023. Todos los derechos reservados.
                        </div>

                    </li>
                </ul>
            </div>
        </footer>
    </section>



</body>

</html>