<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- estilo -->
    <link rel="stylesheet" href="css/style.css">
    <!-- fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100&display=swap"
        rel="stylesheet">
    <!-- iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Home</title>
</head>

<body>
    <section id="nav">
        <nav>


            <div id="log">
                <img src="img/Logo.png" width="100" alt="logo">
                <h1>Shenlong Comics</h1>
            </div>

            <div>
                <input type="text"> <i class="fa-solid fa-magnifying-glass"></i>
            </div>

            <div class="">
                <ul type="none">
                    <li><a href="/register">Registrarse</a></li>
                    <li><a href="/login">Iniciar sesion</a></li>
                    <li><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
        </nav>
    </section>
    <section id="body">
        <main class="container">
            <section>

                <h2>Basado en tu última visita</h2>
                <basado>
                    
                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>

                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>

                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>
                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>
                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>
                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>
                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>
                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>

                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>

                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>
                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>
                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>
                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>
                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>
                
                    
                
                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>

                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>

                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>
                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>
                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>
                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>
                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>
                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>

                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>

                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>
                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>
                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>
                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>
                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>
                
                    
                </basado>


            </section>

            <section>
                <h2>Ofertas</h2>
                <ofertas>

                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>

                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>

                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>
                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>
                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>
                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>
                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>
                    
                    <a href="/productDetail">
                        <div class="prod">
                            <img src="images/img-cafetera-moulinex.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <div class="info">
                                <p class="txtPrec">nombre del producto </p>
                                <p class="txtDescuento">descuento del producto</p>

                            </div>
                            <h3>Nombre del producto</h3>
                        </div>
                    </a>
                </ofertas>
            </section>

        </main>

    </section>
    <section id="footer">
        <footer>

            <div>
                <ul class="li-contacto">
                    <p>contactanos</p>
                    <li> <a href="">telefono</a></li>
                    <li><a>gmail</a></li>
                    <li><a>instagram<i class="fa-brands fa-instagram"></i></a></li>
                    <li><a>facebook<i class="fa-brands fa-facebook"></i></a></li>
                </ul>
                <ul type="none">
                    <li>
                        <div class="pie">
                            Copyright Shenlong Comics - 2023. Todos los derechos reservados.
                        </div>

                    </li>
                </ul>
            </div>
        </footer>
    </section>

       

</body>

</html>