<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- estilo -->
    <link rel="stylesheet" href="css/loginStyle.css">
    <!-- fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100&display=swap"
        rel="stylesheet">
</head>

<body>

    <section id="head">
        <header>
            <div id="log">
                <a href="/"><img src="img/Logo.png" width="100" alt="logo"></a>
                <h1>Shenlong Comics</h1>


            </div>
            </nav>
        </header>
    </section>
    <section id="body">

        <body>
            
            <main class="login">
    

                <div class=" cuadrado">
                    <form action="/" method="GET">
                        <p>
                            <label for="">usuario</label>
                            <input type="text" name="usuario" id="usuario" placeholder="ingrese su usuario">
                        </p>

                        <p>
                            <label for="">Contraseña</label>
                            <input type="password" name="password" id="password" placeholder="Ingrese una contraseña">
                        </p>

                        <button type="submit"> iniciar</button>
                        <button type="reset">Cancelar</button>
                        
                    </form>
                    ¿no tenes una cuenta?
                    <a href="/register">regitrarse</a>

                </div>
            </main>

        </body>
    </section>
    <section id="footer">
        <footer>
            
            <ul tipe="none">
                <p>contactanos</p>
                <li><a>telegfono</a></li>
                <li><a>gmail</a></li>
                <li><a>instagram<i class="fa-brands fa-instagram"></i></a></li>
                <li><a>facebook<i class="fa-brands fa-facebook"></i></a></li>
            </ul>
        </footer>

    </section>
</body>

</html>