
nav{
    flex-direction: row;
    display: flex;
    background-color: #A0D9D9;
    justify-content: space-around;
    align-items: center;
}
footer{
    background-color: #A0D9D9;
    display: flex;
    align-items: start;
    
}
