
#log{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav{
    flex-direction: row;
    display: flex;
    background-color: #A0D9D9;
    justify-content: space-around;
    align-items: center;
}
footer{
    flex-direction: row;
    background-color: #A0D9D9;
    display: flex;
    align-items: start;
    
    width: 100%;
    
}
body{
    background-image: url(/img/segunda-imagen-prueba/SVG/Recurso-3.svg);
}


main.index{
    display: block;
    width: 88.5%;
    text-align: center;
    position: absolute;
    top: 25%;
    color: black;
    padding-right: 20%;
}

#fondo{
    width: 100%;
}


