.paletadecolores {
    color: #021226 #a0d9d9 #4ebf76  }
    /* #39bfsb #f1f2f0 */

*{
   font-family: 'Times New Roman', Times, serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

#log{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav{
    flex-direction: row;
    display: flex;
    background-color: #A0D9D9;
    justify-content: space-around;
    align-items: center;
}
footer{
    background-color: #A0D9D9;
    display: flex;
    align-items: start;
    flex-direction: row;
    display: flex;
    
}

main.index{
    display: block;
    width: 88.5%;
    text-align: center;
    position: absolute;
    top: 25%;
    color: black;
    padding-right: 20%;
}
body{
    background-image: url(/img/imagenes-editadas/Recurso1.svg);
}
.container {
    align-content: center;
    width: 90%;
    padding: 15px;

}
basado{
    width:100%;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si el contenido excede el ancho del contenedor */
    white-space: nowrap; /* Evita que el contenido se divida en varias líneas */
    .prod{
        width: calc(100% - 10px); /* Ajusta el ancho según el número de elementos y el espacio entre ellos */
        box-sizing: border-box;
        border: 1px solid #ccc;
        padding: 10px;
        margin-right: 10px; /* Agrega un espacio entre los elementos */
        flex: 0 0 auto; /* Evita que los elementos se redimensionen */
    }
}


ofertas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.prod{
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 2.5em;
    border-radius: 25px;
    transition: .4s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 2px;
    justify-content: center;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #A0D9D9;
    border-radius: 10%
}

a{
    color: black;
}
.li-contacto{
    margin:2em;
    display: row;
    align-items: center;
}
.li-contacto p {
    color: #2b892b;
    font-weight: bolder;
    font-size: large;
}
.li-contacto p:hover{
    text-transform: uppercase;

}