<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('partials/head', {title: 'Inicio'}) %>
<link rel="stylesheet" href="css/style.css">

<body>

    <%- include('partials/headNavBar', {title: 'nav'}) %>

    <section id="body">
        <main class="container">
            <div class="carrusel">

                <img class="item" src="/img/imgProducto/BANNER3.jpg" alt="Imagen 1">

                <img class="item" src="img/imgProducto/img.jpg" alt="Imagen 2">

                <img class="item" src="/img/imgProducto/carrucel-3.jpg" alt="Imagen 3">

                <img class="item" src="/img/imgProducto/carrucel-4.jpg" alt="Imagen 4">

                <img class="item" src="/img/imgProducto/carrucel-5.jpg" alt="Imagen 5">

            </div>
            </div>

            <section>

                <h2>Recomendados</h2>
                <section id="recomendados">

                    <a href="/productDetail">
                        <div class="prod">
                            <img class="img-producto" src="/img/imgProducto/mangaDBS.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <h3>DRAGON BALL SUPER 01 </h3>

                            <div class="info-prod">
                                <p class="txtPrec">AKIRA TORIYAMA</p>
                                <p class="precio-txt">$1234</p>

                            </div>
                        </div>
                    </a>



                    <a href="/productDetail">
                        <div class="prod">
                            <img class="img-producto" src="/img/imgProducto/batman.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <h3>
                                BATMAN HISTORIAS DEL DEMONIO
                            </h3>

                            <div class="info">
                                <p class="">
                                    DENNY O´NEIL
                                </p>
                                <p class="precio-txt">$7.000</p>

                            </div>
                        </div>
                    </a>

                    <a href="/productDetail">
                        <div class="prod">
                            <img class="img-producto" src="/img/imgProducto/batman-abismo.jpg" alt="img producto">

                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <h3>BATMAN: ABISMO </h3>

                            <div class="info-prod">
                                <p class="txtPrec">KARL KERSCHL</p>
                                <p class="precio-txt">$7.500</p>

                            </div>
                        </div>
                    </a>

                    <!-- este esta bien, pero lo oculte para probar la pantalla -->
                    <!-- <a href="/productDetail">
                        <div class="prod">
                            <img class="img-producto" src="/img/imgProducto/thanos-elabismoinfinito.jpg" alt="img producto">
                            <p>
                                <i id="imgEnvio" class="fa-solid fa-truck"></i>
                            </p>
                            <h3>
                                THANOS EL ABISMO INFINITO (HC)
                            </h3>
                            <div class="info">
                                <p class=""> JIM STARLIN AL MILGROM</p>
                                <p class="precio-txt">$15.000</p>

                            </div>
                        </div>
                    </a> -->
                </section>

                <section>
                    <h2>Novedades</h2>
                    <div id="novedades">

                        <a href="/productDetail">
                            <div class="prod">
                                <img class="img-producto" src="/img/imgProducto/ss-static-01.esmsv.jpg"
                                    alt="img producto">

                                <p>
                                    <i id="imgEnvio" class="fa-solid fa-truck"></i>
                                </p>
                                <h3>Blue Period 13</h3>
                                <div class="info">
                                    <p class="">Panini manga </p>
                                    <p class="precio-txt">$8909</p>

                                </div>
                            </div>
                        </a>

                        <a href="/productDetail">
                            <div class="prod">
                                <img class="img-producto" src="/img/imgProducto/BATMAN-EL-LARGO-HALLOWEEN.jpg"
                                    alt="img producto">

                                <p>
                                    <i id="imgEnvio" class="fa-solid fa-truck"></i>
                                </p>
                                <h3>BATMAN: EL LARGO HALLOWEEN</h3>

                                <div class="info">
                                    <p class="">Ovni Press</p>
                                    <p class="precio-txt">$15.000</p>

                                </div>
                            </div>
                        </a>
                        <a href="/productDetail">
                            <div class="prod">
                                <img class="img-producto"
                                    src="/img/imgProducto/BATMAN-KNIGHTFALL-VOL-3-LA-CRUZADA-DEL-CABALLEROI.jpg"
                                    alt="img producto">

                                <p>
                                    <i id="imgEnvio" class="fa-solid fa-truck"></i>
                                </p>
                                <h3>BATMAN KNIGHTFALL VOL.3: LA CRUZADA DEL CABALLERO I</h3>

                                <div class="info">
                                    <p class="">Ovni Press</p>
                                    <p class="precio-txt">$15.000</p>

                                </div>
                            </div>
                        </a>
                        <!-- Funciona, pero lo oculte para probar la pantalla -->
                        <!-- <a href="/productDetail">
                            <div class="prod">
                                <img class="img-producto" src="/img/imgProducto/powerRangervsTortugasNinjas.jpg" alt="img producto">

                                <p>
                                    <i id="imgEnvio" class="fa-solid fa-truck"></i>
                                </p>
                                <h3>POWER RANGERS VS LAS TORTUGAS NINJA</h3>

                                <div class="info">
                                    <p class="">
                                        Ryan Parrot
                                        </p>
                                    <p class="precio-txt">$9.000</p>

                                </div>
                            </div>
                        </a> -->
                    </div>
                </section>

        </main>

        </h1>
        </div>
    </section>
    <%- include('./partials/footer') %>



</body>

</html>