<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head.ejs' , {estilo:'formulario-style', titulo:'Editar producto'}) %>

<body>
	<!-- Header -->
	<%- include('partials/headNavBar', { title: 'nav', usuario: usuario }) %>
	<!-- /Header -->

<div class="container-form">
	<div>
	 <button type="submit" class="btn-submit">Listado de usuario registados</button>	
	</div>
	<div>
		<button type="submit" class="btn-submit">Listado de productos registrados</button>
	</div>
</div>

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>