<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head', {estilo: 'formulario-style' , titulo:'Login'}) %>


    <body>
        |
        <%- include('partials/headNavBar', {title: 'nav' }) %>
            <section id="body">

                <body>

                    <main class="container-form">


                        <div class=" caja-register">
                            <form action="/" method="GET" class="form">
                                <span class="heading">Login</span>

                                <div class="form-group">

                                    <label for="usuario" class="form-label">usuario</label>
                                    <input type="text" name="usuario" id="usuario" placeholder="ingrese su usuario"
                                        class="form-input">
                                </div>

                                <div class="form-group">

                                    <label for="password" class="form-label">Contraseña</label>
                                    <input type="password" name="password" id="password"
                                        placeholder="Ingrese una contraseña" class="form-input">
                                </div>

                                <div class="form-pie">
                                    <button type="reset" class="btn-limpiar">Cancelar</button>
                                    <button type="submit" class="btn-submit"> Ingresar</button>

                                </div>
                            </form>
                            <div class="footer-register">

                                <span>¿no tenes una cuenta? <a href="/register">regitrarse</a></span>
                            </div>
                        </div>

                        </div>
                        </form>


                        </div>
                    </main>

                </body>
            </section>
            <%- include('./partials/footer') %>
    </body>

</html>