
:root {
   /* Paleta de colores */
   --negro: #021226;
   --verde-claro: #a0d9d9;
   --verde-medio: #4ebf76;
   --claro: #f1f2f0;
   --gris-claro: #ebebeb;
   --verde: #39b54a;

   /* Tipografía */
   --font-familia: 'Roboto', sans-serif;
}
.container-form{
 display: flex;
 justify-content: center;   
}
.caja-register{
   background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(120deg, transparent 20%, #1cb0ff, #40ff99) border-box;
  border: 6px solid transparent;
  padding: 20px 14px;
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  width: 50%;
  margin: 10px;
}
.heading {
   font-size: 30px;
   font-weight: 600;
   padding: 15px;
   
 }
 .form {
   display: flex;
   flex-direction: column;
   align-items: center;
   /* gap: 20px; */
   padding: 10px;
 }
 .form-input {
   color: rgb(103, 218, 41);
   background: transparent;
   border: 1px solid #414141;
   border-radius: 5px;
   padding: 5px;
   outline: none;
 }
 button {
   border-radius: 5px;
   padding: 9px;
   background: #ffffff14;
   color: #c7c5c5;
   border: 1px solid var(--verde-claro);
   font-size: 16px;
   
 }
 button:hover {
   background:var(--verde-claro) ;
   cursor: pointer;
   color: #021226;

 }
 .form-group {
   display: flex;
   flex-direction: column;
   gap: 5px;
   color: #c0bdbd;
   position: relative;
   padding: 5px;
 }
 .form-group input:focus ~ label,
 .form-group input:valid ~ label {
   top: -16px;
   left: 0;
   background: #212121 padding-box;
   padding: 10px 0 0 0;
   /* color: rgba(47, 249, 43, 0.744); */
 
   font-size: 20px;
 }

 .btn-submit{
   margin: 10px;
   padding: 5px;
   font-size: larger;
   border-radius: 5px;
   display: flex;
   justify-content: end;
   color: #00FF7F;
   background-color: transparent;
   cursor: pointer;
}
.btn-submit button{
   outline:  solid #00FF7F;

}

 .btn-limpiar{
   margin: 10px;
   padding: 5px;
   font-size: larger;
   border-radius: 5px;
   display: flex;
   justify-content: end;
   color: red;
   background-color: transparent;
   cursor: pointer;
 }
 .btn-limpiar button{
   outline:  solid red;
 }
 .form-pie {
   display: flex; 
   justify-content: space-between;
   margin-top: 10px; 
 }
 .footer-register{
   display:flex;
   justify-content: center;
   align-items: end;
 }
 .footer-register a {
   color:#00FF7F
 }
 .alert-validation{
  color: red;
  justify-content: center;
  display: flex;
 }

 