:root {
    /* Paleta de colores */
    --negro: #021226;
    --verde-claro: #a0d9d9;
    --verde-medio: #4ebf76;
    --claro: #f1f2f0;
    --gris-claro: #ebebeb;
    --verde: #39b54a;

    /* Tipografía */
    --font-familia: 'Roboto', sans-serif;
}

* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#log {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav {
    flex-direction: row;
    display: flex;
    background-color: #A0D9D9;
    justify-content: space-around;
    align-items: center;
}


footer {
    flex-direction: row;
    background-color: #A0D9D9;
    display: flex;
    align-items: start;
    flex-direction: row;
    display: flex;

    width: 100%;

}

body {
    background-image: url(/img/segunda-imagen-prueba/SVG/Recurso-3.svg);
}
footer {
    flex-direction: row;
    background-color: #A0D9D9;
    display: flex;
    align-items: start;
    flex-direction: row;
    display: flex;

    width: 100%;

}

.card {
    /* border: 2px solid black; */
    /* outline: #4CAF50 solid 10px; */
    margin: 20px;
    padding: 20px;
    
    background-color: white; 
    display: flex;
    justify-content: center;
    margin: 20px;

}  
.container p {
    padding: 2%;
}

.producto-img {
    width: 120%;
}

.caja-detalle {
    width: 90%;
    background-color: white;
    padding: 20px;
}
.precio-txt{
    display: flex;
    padding: 10px;
}
.cant-input{
    
    padding: 10px;
}
.carrito-btn{
    padding: 10px;
}
/* .producto-img:hover{
    width: 100%;
} */
.titulo-txt{
  display: flex;
  font-weight: bolder;
 justify-content: center;
margin-top: 10px;
font-size: 25px;
border-color: #4ebf76;
}