:root {
    /* Paleta de colores */
    --negro: #021226;
    --verde-claro: #a0d9d9;
    --verde-medio: #4ebf76;
    --claro: #f1f2f0;
    --gris-claro: #ebebeb;
    --verde: #39b54a;

    /* Tipografía */
    --font-familia: 'Roboto', sans-serif;
}

* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    background-image: url(/img/segunda-imagen-prueba/SVG/Recurso-3.svg);
}

.card {
   
    margin: 20px;
    padding: 20px;
  
    display: flex;
    justify-content: center;
    margin: 20px;

}  
.container p {
    padding: 2%;
}

.producto-img {
    width: 75%;
    height: 100%;
}

.caja-detalle {
    width: 75%;
    background-color: #A0D9D9;;
    padding: 20px;
    color: black;
    border-radius: 10px;

}

.cant-input{
    display:inline ;
    padding: 10px;
    align-items: end;
}
.info-cant{
    display: flex;
}
.carrito-btn{
    padding: 10px;
    
}

.submit-btn{
    background-color: #4ebf76;
}
.txt-descripcion{
    color: black;
    padding: 10px;
    margin: 10px;
    width: 100%;
}
.txt-precio{
    color: black;
    padding: 10px;
    margin: 10px;
    width: 100%;
}

.prod2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 15px;
    /* background-color: red; */
    border-radius: 10px;
    border: none;
    color: white;
    position: relative;
    cursor: pointer;
    font-weight: 900;
    transition-duration: .2s;
    background: linear-gradient(0deg, #000, #272727);
    margin: 20px;
    /* width: 40%; */
}

.prod2:before,
.prod2:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: 10px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094,
            #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
    margin: 10px;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.prod2:after {
    filter: blur(100px);
}

.btn-delete {
    background-color: transparent;
    position: relative;
    border: none;
    /* width: 50%; */
  }
  
  .btn-delete::after {
    content: 'Eliminar';
    position: absolute;
    top: -130%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    background-color: rgb(168, 7, 7);
    padding: 4px 8px;
    border-radius: 5px;
    transition: .2s linear;
    transition-delay: .2s;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
  }
  
  .icon {
    transform: scale(1.2);
    transition: .2s linear;
    /* width: 50%; */
    color: rgba(255, 0, 0, 0.783);
  }
  
  .btn-delete:hover > .icon {
    transform: scale(1.5);
    color: red;
  }
  
  .btn-delete:hover > .icon  i{
    fill: rgb(168, 7, 7);
    /* width: 800px; */
  }
  
  .btn-delete:hover::after {
    visibility: visible;
    opacity: 1;
    top: -160%;
  }
  .container-btn{
    display: flex;
    justify-content: end;
  }

  .btn-carrito {
    --color: #00A97F;
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
   }
   
   .btn-carrito::after, .btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
   
   .btn-carrito::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn-carrito:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn-carrito:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   .btn-carrito:hover {
    color: var(--color2);
   }
   
   .btn-carrito:active {
    filter: brightness(.7);
    transform: scale(.98);
   }