#logo {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    flex-direction: row;
    display: flex;
    background-color: #A0D9D9;
    justify-content: space-around;
    align-items: center;
}

footer {
    background-color: #A0D9D9;
    display: flex;
    align-items: start;

}


.pie {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    flex-direction: row;
    position: static;

}

.card {
    border: 2px solid black;
    outline: #4CAF50 solid 10px;
    margin: auto;
    padding: 20px;

    background-color: white;
    display: flex;
    justify-content: center;
    margin: 20px;

}

.img-cart {
    width: 20%;
}

.card table {
    display: inline;

}