:root {
    /* Paleta de colores */
    --negro: #021226;
    --verde-claro: #a0d9d9;
    --verde-medio: #4ebf76;
    --verde: #39b54a;

    /* Tipografía */
    --font-familia: 'Roboto', sans-serif;
}

* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#log {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    flex-direction: row;
    display: flex;
    background-color: #A0D9D9;
    justify-content: space-around;
    align-items: center;
}

footer {
    flex-direction: row;
    background-color: #A0D9D9;
    display: flex;
    flex-direction: row;
    width: 100%;

}

body {
    width: 100%;
    background-image: url(/img/segunda-imagen-prueba/SVG/Recurso-3.svg);
}

.card {
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin: 20px;

}  
.container p {
    padding: 2%;
}
.img{
    background-color: none;
    width: 500px;
    height: 700px;
}
.producto-img {
    width: 500px;
    height: 700px;
 
}

.caja-detalle {
    width: 75%;
    background-color: #A0D9D9;;
    padding: 20px;
}
.precio-txt{
    display: flex;
    padding: 10px;
}
.cant-input{
    
    padding: 10px;
}
.product-detail-description {
    max-width: 80%; /* Puedes ajustar el ancho máximo según tus preferencias */
    word-wrap: break-word; /* Permite saltos de línea en palabras largas */
  }
.carrito-btn{
    padding: 10px;
}
/* .producto-img:hover{
    width: 100%;
} */
.titulo-txt{
  display: flex;
  font-weight: bolder;
 justify-content: center;
margin-top: 10px;
font-size: 25px;
border-color: #4ebf76;
}