.paletadecolores {
    color: #021226 #a0d9d9 #4ebf76  }
    /* #39bfsb #f1f2f0 */

*{
   font-family: 'Times New Roman', Times, serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
header{
   display: grid;
   place-items: center;
   background-color: #A0D9D9;
}
#log{
   flex-direction: row;
   display: flex;
   align-items: center;
}



.caja-register{
   display: flex;
}
h2{
   color: #021226 ;
}
.caja-register{
   max-width: 350px;
   display: flex;
   flex-direction: column;
   gap: 10px;
   background-color: #A0D9D9;
   padding: 2.5em;
   border-radius: 25px;
   transition: .4s ease-in-out;
   box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 2px;
   justify-content: center;
}
.container{
   display: flex;
   justify-content: center;
   margin: 10px;
   
}
form{
   display: flex;
   flex-direction: column;
}

/* .caja-register:hover {
   transform: translateX(-0.2em) translateY(-0.2em);
   border: 1px solid #171717;
   box-shadow: 2px 2px 0px #666666;
 }
  */
 input:hover{
    border-color: #39bf39;
 }
 .form{
   padding: 10px;
   margin: 5px;
 }
 
 .form input{
   margin: 0.5em;
   border-radius: 5px;
   padding: 5px;
 }
.form label{
   color: #021226;
}
.title-style1{
 color:#4ebf76;
 padding: 1px;

 

}
.submit-btn{
   background-color: #4ebf76;
   border-color: #f1f2f1;
   padding: 5px;
   color: #f1f2f0;
   font-size: larger;
   border-radius: 5px;
}
.pie-form{
   display: flex;
   justify-content: end;
}
.li-contacto{
   margin:2em;
   display: row;
   align-items: center;
}
.li-contacto p {
   color: #2b892b;
   font-weight: bolder;
   font-size: large;
}
.li-contacto p:hover{
   text-transform: uppercase;

}
body{
   background-image: url(/img/segunda-imagen-prueba/SVG/Recurso-3.svg);
}
.nav-register{
   display: none;
}