<conteiner class="slider" >
    <div class="slider-track">
        <div class="slide"> 
            <img class="item" src="/img/imgProducto/banner/BANNER3.jpg" alt="Imagen 1">
        </div>

        <div class="slide">
            <img class="item" src="/img/imgProducto/banner/img.jpg" alt="Imagen 2">
        </div>
        <div class="slide">
            <img class="item" src="/img/imgProducto/banner/carrucel-3.jpg" alt="Imagen 3">
        </div>
        <div class="slide">
            <img class="item" src="/img/imgProducto/banner/carrucel-4.jpg" alt="Imagen 4">
        </div>
        <div class="slide">
            <img class="item" src="/img/imgProducto/banner/carrucel-5.jpg" alt="Imagen 5">
        </div>
        
    </div>
</conteiner>