<section id="footer">
    <footer>

      
            <div class="li-contacto">
                <p>contactanos</p>
                <ul>
                    <li> <a href="">3854123123</a></li>
                    <li><a href="">shenlong-comics@gmail.com</a></li>
                    <li><a href="">@shenlong-comics<i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="">@shenlong-comics<i class="fa-brands fa-facebook"></i></a></li>
                </ul>
            
            </div>
            <div class="pie">
                Copyright Shenlong Comics - 2023. Todos los derechos reservados.
            </div>

      
    </footer>
</section>