<section id="nav">
    <nav>


        <div id="log">
            <a href="/"><img src="/img/Logo.png" width="100" alt="logo"></a>
<<<<<<< HEAD
                <h1>Shenlong Comics</h1>
=======

>>>>>>> eb3abd9340e676eea8aaefe5a53409b155d8837e
            </a>

        </div>


        <div class="navBar">
            <!-- <ul type="none"> -->
                <a href="/users/register">Registrarse</a>
                <a href="/users/login">Iniciar sesion</a>
                <a href="/productCart" title="Ver carrito de compras"><i class="fa-solid fa-cart-shopping"></i></a>

            <!-- </ul> -->
    </nav>
</section>