<section id="nav">
    <nav>


        <div id="log">
            <img src="img/Logo.png" width="100" alt="logo">


            <!-- <h1>Shenlong Comics</h1> -->
        </div>

        <div>
            <input type="text" placeholder="buscar"> <i class="fa-solid fa-magnifying-glass"></i>
        </div>

        <div class="">
            <ul type="none">
                <li><a href="/register">Registrarse</a></li>
                <li><a href="/login">Iniciar sesion</a></li>
                <li><a href="/productCart" title="Ver carrito de compras"><i class="fa-solid fa-cart-shopping"></i></a></li>

            </ul>
    </nav>
</section>