<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', {estilo: 'loginStyle' , titulo:'Login'}) %>


    <body>
        <%- include('../partials/headNavBar', {title: 'nav' }) %>

    <section id="body">


            <section id="body">

                <body>

                    <main class="login">


                        <div class=" cuadrado">
                            <form action="/users/login" method="POST">
                                <p>
                                    <div class="col-12 col-md-6">
                                        <label for="email" class="form-label">Ingrese su email:</label>
                                        <input type="email" id="email" name="email" placeholder="Ej: vacaloca@gmail.com" class="form-input">
                                    </div>
                                </p>

                                <p>
                                    <div class="col-12 col-md-6">
                                        <label for="password" class="form-label">Ingrese una contraseña</label>
                                        <input type="password" id="password" name="password" class="form-input">						
                                    </div>
                                </p>
                                <p>
                                    <div class="col-12 col-md-6">
                                        <input type="checkbox" id="rememberme" name="rememberme" class="form-input">						
                                        <label for="rememberme" class="form-label">Recordar usuario</label>
                                    </div>
                                </p>
                                <p>
                                    ¿no tenes una cuenta?
                                    <a href="/users/register">regitrarse</a>
                                </p>

                                <button type="submit" class="submit-btn"> iniciar</button>
                                <button type="reset" class="submit-btn">Cancelar</button>

                            </form>


                        </div>
                    </main>

                </body>
            </section>
            <%- include('../partials/footer') %>
    </body>

</html>